---
import missionImage from '../../assets/Jussi_Silvennoinen.webp'
import investImage from '../../assets/Valtteri_Hirvonen.webp'
import { Image } from 'astro:assets'
import Audience from '../../assets/audience.svg'
import Handshake from '../../assets/handshake.svg'
import Opera from '../../assets/opera.svg'
import UK from '../../assets/uk.svg'

const goals = [
    {
        text: 'Bring opera to new audiences, making it accessible and inclusive',
        altText: 'Laidlaw opera trust - new audiences',
        imgSrc: Audience,
    },

    {
        text: 'Support new and outstanding productions',
        altText: 'Laidlaw opera trust - support productions',
        imgSrc: Handshake,
    },

    {
        text: 'Help opera to become more sustainable – encouraging innovation and collaboration',
        altText: 'Laidlaw opera trust - sustainable opera',
        imgSrc: Opera,
    },

    {
        text: 'Sustain and retain British singers in the industry',
        altText: 'Laidlaw opera trust - Retain British singers',
        imgSrc: UK,
    },
]
---

<div id="Mission" class=`w-full flex flex-col `>
    <h1 class="mt-20 w-full text-center text-6xl uppercase text-laidlawGrey">
        The Trust <span class="text-laidlawRed">Purpose</span>
    </h1>
    <div class="mt-10 flex flex-col items-center justify-center lg:flex-row">
        <div
            class="flex w-full flex-col items-center p-2 md:p-0 lg:w-1/3 lg:items-start"
        >
            <h1
                class="relative mt-8 text-left text-4xl text-laidlawGrey lg:mt-0 lg:w-7/12"
            >
                Our <span class="text-laidlawRed">Mission</span>
            </h1>
            <p class="w-5/6 text-left text-xl text-laidlawGrey">
                Opera remains a thrilling and exciting art form that can by
                enjoyed by all; helping us understand each other and life’s
                biggest themes: <span class="font-bold text-laidlawRed"
                    >love, loss, joy, anger
                </span> and <span class="font-bold text-laidlawRed">hope.</span>
                It should be part of everyone’s cultural capital.
            </p>
            <p class="w-5/6 text-left text-xl text-laidlawGrey">
                The Laidlaw Opera Trust is committed fostering the <span
                    class="font-bold text-laidlawRed"
                    >growth and sustainability of opera companies and houses
                    worldwide.</span
                > Through strategic support and partnership, we aim to expand the
                reach and repertoire of these institutions, ensuring that audiences
                everywhere have access to the unparalleled experience of live opera.
                By investing in the future of this cherished art form, we not only
                enrich cultural landscapes but also nurture the next generation of
                opera enthusiasts and artists.
            </p>
        </div>

        <div id="image-container-mission">
            <Image
                alt="Laidlaw Opera Trust Our Mission"
                src={missionImage}
                class="w-auto p-8 md:w-[45rem] lg:p-0"
            />
            <p class="mt-[-2rem] pl-8 text-sm text-laidlawGrey lg:mt-0 lg:p-0">
                Source: Jussi Silvennoinen
            </p>
        </div>
    </div>

    <div
        class="mb-10 mt-4 flex flex-col-reverse justify-center lg:flex-row lg:gap-10"
    >
        <!-- hiding this image in mobile view for better flow -->

        <div id="goals" class="mt-10 flex w-full flex-col items-center">
            <h1
                class="relative text-center text-4xl text-laidlawGrey lg:w-7/12"
            >
                Our <span class="text-laidlawRed">Goals</span>
            </h1>
            <div
                id="goals_container"
                class="flex flex-row flex-wrap justify-center"
            >
                <!-- TODO: make this a flex-row that can be wrapped -->
                {
                    goals.map((goal) => {
                        return (
                            <div
                                id={`container-${goal.altText}`}
                                class="flex w-1/2 flex-col items-center justify-start lg:w-1/5 "
                            >
                                <Image
                                    src={goal.imgSrc}
                                    alt={goal.altText}
                                    width={100}
                                    class="m-4 items-center rounded-full bg-laidlawTeal p-4 lg:ml-0"
                                />
                                <p class="mt-4 pl-8 pr-8 text-center text-xl text-laidlawGrey  lg:w-full ">
                                    {goal.text}
                                </p>
                            </div>
                        )
                    })
                }
            </div>
        </div>
    </div>

    <div
        id="invest"
        class="mb-20 flex flex-col items-center justify-center lg:flex-row"
    >
        <div
            class="flex w-full flex-col items-center p-2 md:p-0 lg:w-1/3 lg:items-start"
        >
            <h1
                class="relative mt-8 text-center text-4xl text-laidlawGrey lg:mt-0 lg:w-7/12 lg:text-left"
            >
                Our <span class="text-laidlawRed">Investment Focus</span>
            </h1>

            <p class="w-5/6 text-left text-xl text-laidlawGrey">
                We are dedicated to supporting <span
                    class="font-bold text-laidlawRed"
                >
                    opera houses, productions, and seasonal festivals
                </span>spanning the globe. Our commitment extends beyond borders
                as we seek to uphold the rich tradition of opera while fostering
                its evolution in diverse cultural landscapes.
            </p>
            <p class="w-5/6 text-left text-xl text-laidlawGrey">
                While we prioritize the advancement of British opera singers, we
                also recognize the global talent pool and are committed to
                upholding the wellbeing of <span
                    class="font-bold text-laidlawRed"
                    >opera singers worldwide.</span
                > Through strategic investments and targeted support, we aim to cultivate
                a thriving opera ecosystem that celebrates excellence, innovation,
                and inclusivity on both local and international stages.
            </p>
        </div>
        <div id="image-container-invest">
            <Image
                alt="Laidlaw Opera Trust Our Mission"
                src={investImage}
                class="w-auto p-8 md:w-[45rem] lg:p-0"
            />
            <p class="mt-[-2rem] pl-8 text-sm text-laidlawGrey lg:mt-0 lg:p-0">
                Source: Valtteri Hirvonen
            </p>
        </div>
    </div>
</div>

<style>
    h1 {
        /* font-size: 4rem; */
        font-weight: bold;
        line-height: 1;
        /* text-align: center; */
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
