---
import missionImage from '../../assets/opera_banner.webp'
import { Image } from 'astro:assets'
import Audience from '../../assets/audience.svg'
import Handshake from '../../assets/handshake.svg'
import Opera from '../../assets/opera.svg'
import UK from '../../assets/uk.svg'

const goals = [
    {
        text: 'Bring opera to new audiences, making it accessible and inclusive',
        altText: 'Laidlaw opera trust - new audiences',
        imgSrc: Audience,
    },

    {
        text: 'Support new and outstanding productions',
        altText: 'Laidlaw opera trust - support productions',
        imgSrc: Handshake,
    },

    {
        text: 'Help opera to become more sustainable – encouraging innovation and collaboration',
        altText: 'Laidlaw opera trust - sustainable opera',
        imgSrc: Opera,
    },

    {
        text: 'Sustain and retain British singers in the industry',
        altText: 'Laidlaw opera trust - Retain British singers',
        imgSrc: UK,
    },
]
---

<div id="Mission" class=`w-full flex flex-col`>
    <h1 class="mt-20 w-full text-center text-7xl uppercase text-laidlawGrey">
        The Trust <span class="text-laidlawRed underline">Purpose</span>
    </h1>
    <div class="flex flex-col items-center lg:flex-row">
        <div
            class="flex w-full flex-col items-center p-2 md:p-0 lg:w-1/2 lg:items-start lg:pl-28"
        >
            <h1
                class="relative mt-8 text-center text-6xl text-laidlawGrey lg:mt-0 lg:w-7/12 lg:text-left"
            >
                Our <span class="text-laidlawTeal">Mission</span>
            </h1>
            <p
                class="text-center text-xl text-laidlawGrey lg:text-left lg:text-xl"
            >
                Live opera captures the most intense emotions; helping us
                understand each other and life’s biggest themes: <span
                    class="font-bold text-laidlawRed"
                    >love, loss, joy, anger
                </span> and <span class="font-bold text-laidlawRed">hope.</span>
                It should be part of everyone’s cultural capital.
            </p>
        </div>

        <div
            class="flex w-full justify-center p-4 md:pl-20 md:pr-20 lg:w-1/2 lg:p-24 lg:pb-0 lg:pr-20 lg:pt-8"
        >
            <Image
                alt="Laidlaw Opera Trust Our Mission"
                src={missionImage}
                class="rounded-md"
            />
        </div>
    </div>

    <div class="mb-10 mt-4 flex flex-col-reverse items-center lg:flex-row">
        <div
            class="hidden w-full justify-center p-4 lg:flex lg:w-1/2 lg:p-0 lg:pl-28"
        >
            <!-- hiding this image in mobile view for better flow -->
            <Image
                alt="Laidlaw Opera Trust Our goals"
                src={missionImage}
                class="mt-20 rounded-md"
            />
        </div>
        <div
            class="flex flex-col items-center p-4 lg:w-1/2 lg:items-start lg:p-24 lg:pr-20"
        >
            <h1
                class="relative text-center text-6xl text-laidlawGrey lg:w-7/12 lg:text-left"
            >
                Our <span class="text-laidlawTeal">Goals</span>
            </h1>
            <div class="flex w-full flex-col flex-wrap lg:flex-col">
                <!-- TODO: make this a flex-row that can be wrapped -->
                {
                    goals.map((goal) => {
                        return (
                            <div
                                id={`container-${goal.altText}`}
                                class="flex flex-col items-center justify-center lg:flex-row lg:justify-start"
                            >
                                <Image
                                    src={goal.imgSrc}
                                    alt={goal.altText}
                                    width={100}
                                    class="m-4 items-center rounded-full bg-laidlawRed p-4 lg:ml-0"
                                />
                                <p class="mt-4 w-1/2 text-center text-base text-laidlawGrey lg:w-full lg:text-left lg:text-2xl ">
                                    {goal.text}
                                </p>
                            </div>
                        )
                    })
                }
            </div>
        </div>
    </div>

    <div
        id="Invest"
        class="mb-10 flex flex-col items-center p-4 lg:items-center"
    >
        <h1 class="relative text-center text-6xl text-laidlawGrey">
            Our <span class="text-laidlawTeal">Investment Focus</span>
        </h1>

        <p class="text-left text-base text-laidlawGrey lg:w-1/2 lg:text-xl">
            Our investment focus at Laidlaw Opera Trust is driven by our
            unwavering dedication to championing live opera as an incomparably
            thrilling and transformative art form. We are committed to fostering
            the growth and sustainability of opera companies and houses
            worldwide. Through strategic support and partnership, we aim to
            expand the reach and repertoire of these institutions, ensuring that
            audiences everywhere have access to the unparalleled experience of
            live opera. By investing in the future of this cherished art form,
            we not only enrich cultural landscapes but also nurture the next
            generation of opera enthusiasts and artists.
        </p>
    </div>
</div>

<style>
    h1 {
        /* font-size: 4rem; */
        font-weight: bold;
        line-height: 1;
        /* text-align: center; */
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
</style>
